@model IEnumerable<T5.Brothership.Entities.Models.UserIntegration>
@using T5.Brothership.Entities.Models

@{
    ViewBag.Title = "Edit Integrations";
}

<h2 class="text-center">Connections</h2>
<h4 class="text-danger">@ViewBag.Message</h4>
<div class="cform container jumbotron">
    @Html.Partial("AccountEditMenu", "Connections")
    <div class="col-md-8">
        <div class="update-account-integration-item">
            <div>
                <h4>Twitch<i class="fa fa-twitch twitch-icon" aria-hidden="true"></i></h4>
                <p>Connect your twitch account to add a link to your twitch channel on your profile and a notice if you are live.</p>
            </div>
            <div class="update-account-integration-item-button">
                @{bool UserHasTwitchIntegration = Model.FirstOrDefault(p => p.IntegrationTypeID == (int)IntegrationType.IntegrationTypes.Twitch) != null;}
                @if (UserHasTwitchIntegration)
            {
                    @Html.ActionLink("Disconnect", "DeAuthorize", "Twitch", null, new { @class = "btn btn-lg btn-theme" });
            }
            else
            {
                    @Html.ActionLink("Connect", "AuthorizeTwitch", "Twitch", null, new { @class = "btn btn-lg btn-theme" });
            }
            </div>
        </div>

        <div class="update-account-integration-item">
            <div>
                <h4>Twitter<i class="fa fa-twitter twitter-icon" aria-hidden="true"></i></h4>
                <p>Connect your twitter account to add a link on your profile to your Twitter page.</p>
            </div>
            <div class="update-account-integration-item-button">
                @{bool UserHasTwitterIntegration = Model.FirstOrDefault(p => p.IntegrationTypeID == (int)IntegrationType.IntegrationTypes.Twitter) != null;}
                @if (UserHasTwitterIntegration)
            {
                    @Html.ActionLink("Disconnect", "DeAuthorize", "Twitter", null, new { @class = "btn btn-lg btn-theme" });
            }
            else
            {
                    @Html.ActionLink("Connect", "AuthorizeTwitter", "Twitter", null, new { @class = "btn btn-lg btn-theme" });
            }
            </div>
        </div>

        <div class="update-account-integration-item">
            <div>
                <h4>Youtube<i class="fa fa-youtube-square youtube-icon" aria-hidden="true"></i></h4>
                <p>Connect your Youtube account to add a link on your profile to your Youtube channel.</p>
            </div>
            <div class="update-account-integration-item-button">
                @{bool UserHasYoutubeIntegration = Model.FirstOrDefault(p => p.IntegrationTypeID == (int)IntegrationType.IntegrationTypes.Youtube) != null;}
                @if (UserHasYoutubeIntegration)
            {
                    @Html.ActionLink("Disconnect", "DeAuthorize", "Youtube", null, new { @class = "btn btn-lg btn-theme" });
            }
            else
            {
                    @Html.ActionLink("Connect", "Authorize", "Youtube", null, new { @class = "btn btn-lg btn-theme" });
            }
            </div>
        </div>
    </div>
</div>
