@model T5.Brothership.ViewModels.UserPageViewModel
@using T5.Brothership.Entities.Models
@{
    ViewBag.Title = Model.User.UserName;
}
<!-- Page Content -->
<div class="container">
    <!-- Portfolio Item Row -->
    <div class="row">
        <p class="alert-danger">@ViewBag.Message</p>
        <div class="col-md-3 profile-info-container">
            @if (Model.IsUserLoggedIn)
            {

                if (Model.IsUserFollowing)
                {
                    @Html.ActionLink("Unfollow", "Unfollow", new { userName = Model.User.UserName }, new { @class = "btn btn-lg btn-theme follow-button" })
                }
                else
                {
                    @Html.ActionLink("Follow", "Follow", new { userName = Model.User.UserName }, new { @class = "btn btn-lg btn-theme follow-button" })
                }
            }
            else
            {
                @Html.ActionLink("Login to Follow User", "Login", "Login", null, new { @class = "btn btn-lg btn-theme follow-button" })
            }

            <p>
                <img class="img-responsive profile-img" src="@Html.DisplayFor(model => model.User.ProfileImagePath)" alt="">
            </p>
            <h4 class="heading">@Html.DisplayFor(model => model.User.UserName)</h4>
            <p class="sub-heading">@Html.Partial("AverageStarRating", Model.AverageRating)</p>
            <p class="sub-heading">@Model.AverageRating </p>
            <hr />
            <h4>@Html.DisplayNameFor(model => model.User.Bio)</h4>
            <p>@Html.DisplayFor(model => model.User.Bio)</p>
            <h4>@Html.DisplayNameFor(model => model.User.DateJoined)</h4>
            <p>@Html.DisplayFor(model => model.User.DateJoined)</p>
            <h4>Age</h4>
            <p>@Math.Floor(DateTime.Now.Subtract(Model.User.DOB).TotalDays / 365)</p>
            <h4>@Html.DisplayNameFor(model => model.User.Gender)</h4>
            <p>@Html.DisplayFor(model => model.User.Gender.Description)</p>
            <h4>@Html.DisplayNameFor(model => model.User.Nationality)</h4>
            <p>@Html.DisplayFor(model => model.User.Nationality.Description)</p>
            @foreach (var integrationInfo in Model.UserIntegrationInfos)
            {
                <div class="col-md-12">
                    @if (integrationInfo.IsUserLive)
                    {
                        @*Watch 'username' live on 'intergrationType' now!*@
                        <a class="" href="@integrationInfo.UserLiveStreamURL">Watch @(Model.User.UserName) live on @(integrationInfo.IntegrationType) now!</a>
                        @*<img src="~/images/live.png" style="width:2em;">*@
                    }
                </div>
            }
            <div class="col-md-12">
                <div class="aligncenter">
                    <ul class="social-network social-circle">
                        @foreach (var integration in Model.User.UserIntegrations)
                        {
                            switch (integration.IntegrationTypeID)
                            {
                                case (int)IntegrationType.IntegrationTypes.Twitch:
                                    <li><a href="https://www.twitch.tv/@(integration.UserName)" class="icoTwitch" title="Twitch"><i class="fa fa-twitch"></i></a></li>
                                    break;
                                case (int)IntegrationType.IntegrationTypes.Twitter:
                                    <li><a href="https://twitter.com/@(integration.UserName) " class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    break;
                                case (int)IntegrationType.IntegrationTypes.Youtube:
                                    <li><a href="https://youtube.com/channel/@(integration.ChannelId) " class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                                    break;
                                default:
                                    break;
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h3>Recent Content</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        @{bool IsFirstVideo = true; }
                        @foreach (var video in Model.RecentContent)
                        {
                            int width = 100;
                            int height = 236;
                            string colSize = "col-xs-6";

                            if (IsFirstVideo)
                            {
                                width = 100;
                                height = height * 2;
                                colSize = "col-xs-12";
                            }
                            switch (video.ContentType)
                            {
                                case IntegrationType.IntegrationTypes.Youtube:
                                    <div style="height: @(height)px;" class="@(colSize) video-format">
                                    <div class="youtube" id="@(video.Id)" style="width: @(width)%; height: @(height)px;">
                                        <span class="video-title">@video.Title</span>
                                        <img src="~/images/YouTube-logo-light.png" class="video-logo" />
                                    </div>
                                    </div>
                                    break;
                                case IntegrationType.IntegrationTypes.Twitch:
                                    <div style="height: @(height)px;" class="@(colSize) video-format">
                                    <div class="twitch"
                                         id="@(video.Id)"
                                         style="background-image:url(@(video.PreviewImgUrl)); width:@(width)%; height: @(height)px;">
                                        <img src="~/images/twitch-tv.png" class="video-logo" style="top:5px; right:-3px;" />
                                        <span class="video-title">@video.Title</span>
                                    </div>
                                    </div>
                                    break;
                                default:
                                    break;
                            }
                            IsFirstVideo = false;
                        }
                    </div>
                </div>
                @if (Model.RecentContent.Count > 0)
                {
                    <div class="view-all">
                        @Html.ActionLink("View All Content", "UserContent", new { userName = Model.User.UserName })
                    </div>
                }
                @if (Model.RecentContent.Count == 0)
                {
                    <div class="col">
                        <p class="text-center">User has no Content.</p>
                    </div>
                }
                <div class="col-md-12">
                    <h3>Games</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="grid effect" id="grid">
                                @if (Model.User.Games.Count == 0)
                                {
                                    <li>
                                        <p class="text-center">User has no games.</p>
                                    </li>
                                }
                                @foreach (var game in Model.User.Games.Take(20))
                                {
                                    <li>
                                        <div class="fancybox" data-fancybox-group="gallery">
                                            <div style="position:relative;">
                                                <a href="@Url.Action("UsersByGame", "Search", new { igdbid = game.igdbID })">
                                                    <img style="width:100%;" class="" src="//images.igdb.com/igdb/image/upload/t_cover_big/@(game.ImgCloudinaryId).jpg" alt="@game.Title">
                                                </a>
                                                <span class="game-image-title">@game.Title</span>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    @if (Model.User.Games.Count > 0)
                    {
                        <div class="view-all">
                            @Html.ActionLink("View All Games", "UserGames", new { userName = Model.User.UserName })
                        </div>
                    }
                    <div style="margin-bottom:5em;">
                        <h3 style="display:inline-block; margin-right:1em; float:left">Ratings</h3>
                        <div style="margin:.5em; float:left;">

                            @if (Model.IsUserLoggedIn)
                            {
                                if (Model.HasLoggedInUserRated)
                                {
                                    @Html.ActionLink("Edit Rating", "EditRating", "User", null, new { @class = "btn btn-lg btn-theme" })
                                }
                                else
                                {
                                    @Html.ActionLink("Rate User", "Rate", "User", null, new { @class = "btn btn-lg btn-theme" })
                                }
                            }
                            else
                            {
                                @Html.ActionLink("Login to rate user", "Login", "Login", null, new { @class = "btn btn-lg btn-theme" })
                            }
                        </div>
                    </div>
                    <div class="row" style="clear:both;">


                        @foreach (var rating in Model.User.UserRatings)
                        {
                            <div class="col-md-4 col-sm-6">
                                <div class="panel panel-default">
                                    <h5 class="panel-heading"><a href="@Url.Action("User","User", new {userName = @rating.RaterUser.UserName } )">@rating.RaterUser.UserName Says</a></h5>
                                    <p class="panel-body">@rating.Comment</p>
                                </div>
                            </div>
                        }
                    </div>

                    @if (Model.User.UserRatings.Count == 0)
                    {
                        <div class="col">
                            <p class="text-center">User has not been rated.</p>
                        </div>
                    }
                    @if (Model.User.UserRatings.Count > 0)
                    {
                        <div class="view-all">
                            @Html.ActionLink("View All Ratings", "UserRatings", new { userName = Model.User.UserName })
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/VideoLoader.js"></script>
