@model T5.Brothership.Entities.Models.User

@{
    ViewBag.Title = Model.UserName + "Games";
}

<div class="container">
    <h3><a href="@Url.Action("User","User" )">@Model.UserName's</a> Games</h3>
    <div class="row">
        <div class="col-md-12">
            <ul class="grid effect" id="grid">
                @if (Model.Games.Count == 0)
                {
                    <li>
                        <p class="text-center">User has no games.</p>
                    </li>
                }
                @foreach (var game in Model.Games)
                {
                    <li>
                        <div class="fancybox" data-fancybox-group="gallery">
                            <div style="position:relative;">
                                <a href="@Url.Action("UsersByGame", "Search", new { igdbid = game.igdbID })">
                                    <img style="width:100%;" class="" src="//images.igdb.com/igdb/image/upload/t_cover_big/@(game.ImgCloudinaryId).jpg" alt="@game.Title">
                                </a>
                                <span class="game-image-title">@game.Title</span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

