@model T5.Brothership.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <img class="img-responsive center-block" src="~/images/Brothership-banner.gif" alt="Brothership Logo" />
    <h2 class="text-center">Featured Streamers</h2>

    <div class="row">

        @foreach (var user in Model.RandomFeaturedUsers)
            {
            <div class="col-md-3 col-sm-6">
                <h4>@user.UserName</h4>
                <a href="@Url.Action("User","User", new {userName = @user.UserName } )"><img class="img-responsive portfolio-item" src="~/images/default-user.gif" alt=""></a>
                @* Once we get the Image storing working: src="~/@item.FeaturedUserImagePath" *@
            </div>
            }
    </div>

    <h2 class="text-center">Popular Streamers</h2>
    <div class="row">
        @foreach (var user in Model.RandomPopularUsers)
        {
            <div class="col-md-3 col-sm-6">
                <h4>@user.UserName</h4>
                <a href="@Url.Action("User","User", new {userName = @user.UserName } )"> <img class="img-responsive portfolio-item" src="~/images/default-user.gif" alt=""></a>
                @* Once we get the Image storing working: src="~/@item.PopularUserImagePath" *@
            </div>
        }
    </div>
</div>