@model T5.Brothership.Entities.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@*<h2>Login</h2>*@



@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<!-- section log in -->
<section id="login" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h3><span>Welcome Back!</span></h3>
                </div>
                <div class="sub-heading">
                    <p>
                        Good to see you again.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4><i class="fa fa-envelope"></i><strong>Log In</strong></h4>

                <!-- start log in form -->
                <div class="lform loginform" id="login-form">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="top-margin">
                            <input type="submit" value="Login" class="btn btn-lg btn-theme" />
                            <h4>@ViewBag.Message</h4>
                        </div>
                </div>
                <!-- END log in form -->
            </div>
        </div>
    </div>
</section>
                }
<!-- end section login -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
